.Acontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
  height: inherit;
}

.Aheader{
  font-weight: 500;
  font-size: 3em;
}

.Amain{
  text-align: justify;
  font-size: 1.35em;
  font-weight: 500;
  margin-left: 15em;
  margin-right: 15em;
  line-height: 2em;
}

.connect{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
}

.contact{
  position: relative;
  height: 50px;
  padding: 0 30px;
  border: 2px solid #000;
  background: white;
  user-select: none;
  white-space: nowrap;
  transition: all .05s linear;
  font-family: inherit;
  font-weight: 900;
}

.contact:before, .contact:after {
  content: "";
  position: absolute;
  background-color: white;
  transition: all .2s linear;
 }

 .contact:before {
  width: calc(100% + 6px);
  height: calc(100% - 16px);
  top: 8px;
  left: -3px;
 }
 
 .contact:after {
  width: calc(100% - 16px);
  height: calc(100% + 6px);
  top: -3px;
  left: 8px;
 }
 
 .contact:active {
  transform: scale(0.95);
 }
 
 .contact:hover:before {
  height: calc(100% - 50px);
  top: 16px;
 }
 
 .contact:hover:after {
  width: calc(100% - 32px);
  left: 16px;
 }

 .contact span {
  font-size: 15px;
  z-index: 3;
  position: relative;
  font-weight: 600;
 }

 @media (max-width: 1200px) {
  .Amain {
    margin-left: 10em;
    margin-right: 10em;
  }
  .contact {
    height: 50px;
    padding: 0 25px;
    font-size: 1em;
  }

  .contact span {
    font-size: 1em;
  }
}

@media (max-width: 992px) {
  .Aheader {
    font-size: 2em;
  }
  .Amain {
    margin-left: 5em;
    margin-right: 5em;
    font-size: 1.2em;
  }
  .contact {
    height: 45px;
    padding: 0 20px;
    font-size: 0.9em;
  }
  .contact span {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  .Aheader {
    font-size: 2em;
  }
  .Amain {
    margin-left: 2em;
    margin-right: 2em;
    font-size: 1.1em;
  }
  .contact {
    height: 40px;
    padding: 0 15px;
    font-size: 1em;
  }

  .contact span {
    font-size: 0.85em;
  }
}

@media (max-width: 576px) {
  .Aheader {
    font-size: 1.5em;
  }
  .Amain {
    margin-left: 1em;
    margin-right: 1em;
    font-size: 0.7em;
  }
  .contact {
    height: 35px;
    padding: 0 10px;
    font-size: 1em;
  }

  .contact span {
    font-size: 0.8em;
  }
}