.Top{
    padding: 0;
    margin: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-self: center;
    gap: 60rem;
}

.Top-container{
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    font-family: 'DrukWideSuper', sans-serif;
    transform: rotate(-3deg);
    user-select: none;
}

.Text-container{
    margin-top: 5rem;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: white;
}

.Text-box{
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: 'DrukWideMedium', sans-serif;
    line-height: 2.5rem;
    color: #FF5B00;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}