.Top-container{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 10vh;
}

.Top {
    font-size: 7rem;
    color: transparent;
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: white;
    font-family: 'DrukWideSuper', sans-serif;
    transform: rotate(-3deg);
    user-select: none;
    top: 0;
    right: 2rem;
    position: fixed;
  }

.Text-container{
    margin-top: 8rem;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.Text-box{
    height: 55vh;
    overflow-y: auto;
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    font-size: 2rem;
    font-family: 'DrukWideMedium', sans-serif;
    line-height: 2.5rem;
    color: white;
}

p{
    margin-top: 1rem;
    margin-bottom: 1rem;
}