header {
    position: fixed;
    width: 100vw;
    top: 0;
    padding: 2rem;
    box-sizing: border-box;
}
  
.header-container{
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name {
    transition: color 1s cubic-bezier(0, 0.52, 1, 1);
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 2.5rem;
}
  
.name:hover,
.name:focus {
    color: transparent;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: black;
    transition-duration: 200ms;
}
  
a:hover,
a:focus {
    background-size: 0 0.1em, 100% 0.1em;
}
  
@media screen and (max-width: 768px) {
    header{
        padding: 1rem;
    }

    .header-container{
        gap: 0.4rem;
    }

    .name{
        font-size: 1.7rem;
        line-height: 1.5rem;
    }

    .prof-title {
        font-size: 0.7rem;
    }
}
  