:root {
  --nav-margin-right: 4em;
  --font-size-lg: 8.5em;
  --font-size-md: 5.5em;
  --font-size-sm: 2.8em;
  --font-size-xs: 2.5em;
  --transform-item-1: rotate(-4deg) translateX(0em);
  --transform-item-2: rotate(1deg) translateX(1em);
  --transform-item-3: rotate(-2deg) translateX(0.3em);
  --transform-item-4: rotate(2deg) translateX(0em);
}

.nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin-right: var(--nav-margin-right);
}

ul.nav-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  font-weight: 900;
  font-size: var(--font-size-lg);
}

li.nav-item {
  width: fit-content;
  margin-top: -38px;
  line-height: 1em;
}

li > a {
  display: inline-block;
  overflow: hidden;
  transition: 1.5s cubic-bezier(.075, .82, .165, 1);
}

li.nav-item:nth-child(1) {
  transform: var(--transform-item-1);
}

li.nav-item:nth-child(2) {
  transform: var(--transform-item-2);
}

li.nav-item:nth-child(3) {
  transform: var(--transform-item-3);
}

li.nav-item:nth-child(4) {
  transform: var(--transform-item-4);
}

.nav-list:hover .nav-item a {
  color: transparent;
  -webkit-text-stroke-width: 0.7px;
  -webkit-text-stroke-color: black;
  transition-duration: 200ms;
}

.nav-list .nav-item a:hover,
.nav-list .nav-item a:focus,
.nav-list .nav-item a:active {
  transform: scale(1.1);
  color: black;
  will-change: transform;
}

@media screen and (max-width: 1024px) {
  .nav {
    justify-content: center;
    margin-right: 0em;
  }

  ul.nav-list {
    font-size: var(--font-size-md);
  }

  li.nav-item {
    margin-top: -0.2em;
  }

  li.nav-item:nth-child(1) {
    transform: var(--transform-item-1);
  }

  li.nav-item:nth-child(2) {
    transform: var(--transform-item-2);
  }

  li.nav-item:nth-child(3) {
    transform: var(--transform-item-3);
  }

  li.nav-item:nth-child(4) {
    transform: var(--transform-item-4);
  }
}

@media screen and (max-width: 767px) {
  ul.nav-list {
    font-size: var(--font-size-sm);
  }
}

@media screen and (max-width: 320px) {
  ul.nav-list {
    font-size: var(--font-size-xs);
  }
}
