.work-container {
    width: 100vw;
    height: inherit;
  }
  
  .work-heading {
    position: fixed;
    top: 0;
    right: 0;
  }
  
  .work-title {
    font-weight: 900;
    font-size: 2.5rem;
    margin: 1rem;
  }
  
  .work-list {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 900;
  }
  
  .year {
    font-weight: 700;
    font-size: 1rem;
  }
  
  .project-card {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: relative;
    z-index: 1;
    margin: 0rem 3rem 3rem 3rem;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  
  .project-wrapper {
    position: relative;
  }
  
  .oval-shadow {
    position: absolute;
    bottom: -1px;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1rem;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.3);
    filter: blur(0.7rem);
  }
  
  @media screen and (max-width: 767px) {
    .work-heading {
      width: inherit;
      top: 8rem;
    }
  
    .work-title {
      text-align: center;
      margin: 1rem;
      font-size: 1.5rem;
    }
  
    .work-list {
      width: 100vw;
      flex-direction: row;
    }
  
    .year {
      font-size: 0.5rem;
    }
  
    .work {
      font-size: 1rem;
      line-height: 1.5rem;
    }
  
    .project-card {
      margin: 1rem;
    }
  
    .oval-shadow {
      width: 70px;
      height: 8px;
      filter: blur(0.45rem);
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .work-title {
      margin: 1rem;
      font-size: 2.5rem;
    }
  
    .work-list {
      height: 60vh;
      gap: 3rem;
    }
  
    .year {
      font-size: 0.7rem;
    }
  
    .work {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  
    .project-card {
      margin: 1rem;
    }
  }
  