@font-face {
  font-family: 'DrukWideBold';
  src: local('Druk Wide Bold'), url('./Druk Wide Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

:root {

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #FF5B00;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
