@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'DrukWideBold';
  src: local('DrukWideBold'), url('./font/DrukWideBold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'DrukWideSuper';
  src: local('DrukWideSuper'), url('./font/DrukWideSuper.ttf') format('truetype');
  font-weight: bolder;
}

@font-face {
  font-family: 'DrukWideMedium';
  src: local('DrukWideMedium'), url('./font/DrukWideMedium.otf') format('truetype');
  font-weight: bolder;
}

:root {
  box-sizing: border-box;

  color-scheme: light dark;
  color: black;
  background-color: white;
  font-family: 'DrukWideBold', sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}