.resume-heading {
    position: fixed;
    top: 0;
    right: 0;
}

.resume-title {
    margin: 1rem;
    font-weight: 900;
    font-size: 5rem;
    transform: rotate(-2deg);
}

.resume-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
